{
  "id": "1",
  "name": "My InfluxDB",
  "url": "http://{{VIRTUALIP_FQDN}}:{{INFLUXDB_API_PORT}}",
  "type": "influx",
  "insecureSkipVerify": false,
  "default": true,
  "telegraf": "{{INFLUXDB_DBNAME}}"
}
