[centos-openstack-{{OPENSTACK_VERSION}}]
name=CentOS-7 - OpenStack {{OPENSTACK_VERSION}}
#baseurl=http://mirror.centos.org/$contentdir/$releasever/cloud/$basearch/openstack-{{OPENSTACK_VERSION}}/
baseurl=http://mirrors.aliyun.com/centos/7/cloud/x86_64/openstack-{{OPENSTACK_VERSION}}
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Cloud
exclude=sip,PyQt4

[centos-openstack-{{OPENSTACK_VERSION}}-test]
name=CentOS-7 - OpenStack {{OPENSTACK_VERSION}} - Testing
baseurl=https://buildlogs.centos.org/centos/7/cloud/$basearch/openstack-{{OPENSTACK_VERSION}}/
gpgcheck=0
enabled=0
exclude=sip,PyQt4

[centos-openstack-{{OPENSTACK_VERSION}}-debuginfo]
name=CentOS-7 - OpenStack {{OPENSTACK_VERSION}} - Debug
baseurl=http://debuginfo.centos.org/centos/7/cloud/$basearch/
gpgcheck=0
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Cloud
exclude=sip,PyQt4

[centos-openstack-{{OPENSTACK_VERSION}}-source]
name=CentOS-7 - OpenStack {{OPENSTACK_VERSION}} - Source
baseurl=http://vault.centos.org/centos/7/cloud/Source/openstack-{{OPENSTACK_VERSION}}/
gpgcheck=0
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Cloud
exclude=sip,PyQt4

[rdo-trunk-{{OPENSTACK_VERSION}}-tested]
name=OpenStack {{OPENSTACK_VERSION}} Trunk Tested
baseurl=https://trunk.rdoproject.org/centos7-{{OPENSTACK_VERSION}}/current-passed-ci/
gpgcheck=0
enabled=0
