[centos-ceph-{{CEPH_VERSION}}]
name=CentOS-$releasever - Ceph {{CEPH_VERSION}}
#baseurl=http://mirror.centos.org/$contentdir/$releasever/storage/$basearch/ceph-{{CEPH_VERSION}}/
baseurl=http://mirrors.aliyun.com/centos/7/storage/x86_64/ceph-{{CEPH_VERSION}}/
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Storage

[centos-ceph-{{CEPH_VERSION}}-test]
name=CentOS-$releasever - Ceph {{CEPH_VERSION}} Testing
baseurl=http://buildlogs.centos.org/centos/$releasever/storage/$basearch/ceph-{{CEPH_VERSION}}/
gpgcheck=0
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Storage

[centos-ceph-{{CEPH_VERSION}}-source]
name=CentOS-$releasever - Ceph {{CEPH_VERSION}} Source
baseurl=http://vault.centos.org/$contentdir/$releasever/storage/Source/ceph-{{CEPH_VERSION}}/
gpgcheck=0
enabled=0
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CentOS-SIG-Storage
