[kibana]
name=Kibana repository packages
baseurl=https://artifacts.elastic.co/packages/{{ELASTICSEARCH_VERSION}}/yum
gpgcheck=0
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
