export OS_PROJECT_DOMAIN_NAME=Default
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_NAME=admin
export OS_USERNAME=admin
{% if GLOBAL_PASS %}
export OS_PASSWORD={{GLOBAL_PASS}}
{% else %}
export OS_PASSWORD={{KEYSTONE_PASS}}
{% endif %}
export OS_AUTH_URL=http://{{VIRTUALIP_FQDN}}:{{KEYSTONE_PORT}}/v3
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
