root    soft    nofile    65535
root    hard    nofile    65535
*       soft    nofile    65535
*       hard    nofile    65535

root    soft    nproc    65535
root    hard    nproc    65535
*       soft    nproc    65535
*       hard    nproc    65535

root    soft    core     1048576
root    hard    core     1048576
*       soft    core     1048576
*       hard    core     1048576
